<div class = "content_list">
  <% for transaction in @transactions %>
  <div class="list">
  <ul class="left-list">
  <li><%= transaction.out %></li>
  <li><%= transaction.merchant %></li>
  </ul>

  <ul class="right-list">
  <li><%= transaction.type %></li>
  <li><%= transaction.tag %></li>
  <li>£<%= transaction.amount %></li>
  </ul>
  </div>
  <form action="<%=transaction.id%>/transactions/delete" method="post">


    <input class="btn btn--action" type='submit' value="Delete"></form>
  <% end %>


 <form action="/<%= @user.id %>/transactions" method="post">

    <label>
    Filter
    <select id = "filter" name="filter">
      <% for tag in @options[:tags] %>
      <option value="<%= tag %>"><%= tag %></option>
      <% end %>
    </select>
    <br>

    <input class="btn btn-action" type='submit' value="filter">


      </label>
  </p>
</form>

<a href="/<%= @user.id %>/transactions/new">Add Transaction</a>
</div>
